<!DOCTYPE html>
<html lang="en">
    <!--Header-->
    <%- include("header") %>
    <%- include("navbar") %>
    <!--Body-->
    <body>
        <br />
        <br />
        <div class="main">
            <h1>Employee Records</h1>
        </div>
        
        <div class="list">
    <%- include("list") %>
        </div>

    <%- include("footer") %>
    <%- include("scripts") %>
    </body>
</html>