<!DOCTYPE html>
<html lang="en">
  <%- include ("header") %>

  <body>
    <div id="main">
      <h2>Employees</h2>
      <table class="table table-dark table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <% if(employees.length) { %>
          <% var x = 1; %>
          <% employees.forEach(function(employee) { %>

            <tr>
              <th><%=x %></th>
              <td><%=employee.firstName %></td>
              <td><%=employee.lastName %></td>
              <td><%=employee.email %></td>
            </tr>
            <%x++; %>
            <% }) %>
        <% } <%>
      </table>
      <a href="#"><button id="addBtn" class="btn">Add</button></a>    </div>

<%- include("footer") -%>
  </body>


</html>