<!DOCTYPE html>
<html lang="en">
    <!--Header-->
    <%- include("header") %>
    <%- include("navbar") %>
    <!--Body-->
    <body>
        <!--Data Entry Page-->
        <form>
            <label for="employeeFName">First Name</label>
            <input type="text" id="employeeFName" name="employeeFName" value="Employee First Name"><br>
            
            <label for="employeeLName">Last Name</label>
            <input type="text" id="employeeLName" name="employeeLName" value="Employee Last Name"><br>

            <label for="employeeEmail">Email</label>
            <input type="email" id="employeeEmail" name="employeeEmail" value="Employee Email">
            <input name="_csrf" value="<%= csrfToken %>" type="hidden">
            <button type="submit" value="Submit">Add Employee</button>
            
        </form>
        
    <%- include("footer") %>
    <%- include("script") %>
    </body>
</html>